<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizan.mobile10.passgene">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistInfo"
            android:label="@string/title_activity_regist_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInfoIndex"
            android:label="@string/title_activity_user_info_index"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInfoList"
            android:label="@string/title_activity_user_info_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InitialSet1"
            android:label="@string/title_activity_initial_set1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InitialSet2"
            android:label="@string/title_activity_initial_set2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InitialSet3"
            android:label="@string/title_activity_initial_set3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>
