<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizan.mobile10.passgene">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PassList"
            android:label="@string/title_pass_list"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PassList2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistInfo"
            android:label="@string/title_activity_regist_info"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserInfoIndex"
            android:label="@string/title_activity_user_info_index"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserInfoList"
            android:label="@string/title_activity_user_info_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InitialSet1"
            android:label="@string/title_activity_initial_set1"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InitialSet2"
            android:label="@string/title_activity_initial_set2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InitialSet3"
            android:label="@string/title_activity_initial_set3"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegistNewPass"
            android:label="@string/title_activity_regist_new_pass"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GenePass"
            android:label="@string/title_activity_gene_pass"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserConf"
            android:label="@string/title_activity_user_conf"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PwConf"
            android:label="@string/title_activity_pw_conf"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".AppSetting"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".UserConf2"
            android:label="@string/title_activity_user_conf2"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MPchange"
            android:label="@string/title_activity_MPchange"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".IForgot"
            android:label="@string/title_activity_iforgot"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AppInit"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".GoogleDriveBackup"
            android:label="@string/title_activity_google_drive_backup"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
        

        <activity
            android:name=".ReRegistPass"
            android:label="@string/title_activity_re_regist_pass"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
